<%= form_with(model: @user) do |f| %>
  <% if @user.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>
      <ul>
        <% @user.errors.full_message.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="card mb-3 mt-3" style="border-radius: .5rem;">
    <div class="row g-0">
      <div class="col-md-4 text-center" >
        <div class='filed mt-5 mb-3'>
          <% if @user.avatar.attached? %>
            <%= image_tag(@user.avatar, height: '100px', width: '100px', class:'border border-2 rounded-5') %>
          <% else %>
            <%= image_tag 'gnt_logo.png', alt:"Avatar", class:"border border-3 rounded", style:"width: 150px" %>
          <% end %>
        </div>
        
        <%= f.file_field :avatar %>

        <div>
          <h6 class='mt-3' style='color:black'> First Name / Nickname </h6>
          <%= f.text_field :full_name, autofocus: true, placeholder: current_gnt_user.full_name %>
        </div>
        <i style="color:black;" class="far fa-edit mb-5"></i>
      </div>
      <div class="col-md-8">
        <div class="card-body p-4">
          <h6 style='color:red'> * required fields </h6>
          <h5 class="mt-3">Basic Information</h5>
          <hr class="mt-0 mb-4">

          <div class="row pt-1">

            <div class="col-6 mb-3">
              <h6>Full legal name*:</h6>
            </div>

            <div class="col-6 mb-3">
              <h6>Nationality*:</h6>
              <%= f.country_select :nationality, priority_countries = ["Singapore", "Chile", "US"] %>
            </div>

            <div class="col-6 mb-3">
              <h6>Email*:</h6>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="col-6 mb-3">
              <h6>Current Resident*:</h6>
              <%= f.text_field :current_resident, autofocus: true %>
            </div>

            <div class="col-6 mb-3">
              <h6>I am*:</h6>
              <%= f.select :i_am, ['Enrolled in a nursing program', 'Registered nurse outside the United States'], :prompt => current_gnt_user.i_am %>
            </div>

            <div class="field mb-2">
              <%= f.check_box :remember_me %>
              <%= f.label :"Check if you are currently working as a registered nurse in a clinical setting*" %>
            </div>

            <div class="col-6 mb-3">
              <h6>Years of nursing work experience*:</h6>
              <%= f.select :years_of_experience, ['0', '1', '2', '3', '4', '5+' ], :prompt => current_gnt_user.years_of_experience %>
            </div>

            <div class="col-6 mb-3">
              <h6>Apply visa for*:</h6>
              <%= f.select :apply_visa_for, ['None', 'Me', 'Me and my family'], :prompt => current_gnt_user.apply_visa_for %>
            </div>

            <div class="col-6 mb-3">
              <h6>Phone number:</h6>
            </div>

            <div class="field mb-2">
              <%= f.check_box :remember_me %>
              <%= f.label :"Check to authorize contact via Whatsapp" %>
            </div>

            <div class="field mb-2">
              <%= f.check_box :remember_me %>
              <%= f.label :"Check to authorize calls and texts (your telephone provider messaging rates will apply)" %>
            </div>
          </div>

          <h5 class='mt-3'>Nursing Credentials</h5>
          <hr class="mt-0 mb-4">
          <div class="row pt-1">

            <div class="col-10 mb-3" style="display: flex">
              <%= f.label :'Upload Nurse License*:' %>
              <%= f.file_field :RN_License %>
            </div>

            <div class="col-10 mb-3" style="display: flex">
              <%= f.label :'License Type*:' %>
              <%= f.select :years_of_experience, ['Registered Nurse', 'Licensed Practical Nurse', 'Nurse Practitioner'] %>
            </div>

            <div class="col-10 mb-3" style="display: flex">
              <%= f.label :'English Proficiency Exam*:' %>
              <%= f.select :years_of_experience, ['Yes', 'No'] %>
            </div>

            <div class="col-10 mb-3" style="display: flex">
              <%= f.label :'Upload Nurse License*:' %>
              <%= f.file_field :RN_License %>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <%= f.label :'Upload diploma of Nursing Education*:' %>
              <%= f.file_field :RN_License %>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <%= f.label :'Upload English translation of Nursing Education Diploma (if applicable):' %>
              <%= f.file_field :RN_License %>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <%= f.label :'Upload Nursing Education Transcripts*:' %>
              <%= f.file_field :RN_License %>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <%= f.label :'Upload English translation of Nursing Education Transcripts (if applicable):' %>
              <%= f.file_field :RN_License %>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <%= f.label :'Upload Copy of CGFNS VisaScreen Report (if applicable):' %>
              <%= f.file_field :RN_License %>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <%= f.label :'Upload Copy of English proficiency exam results (if applicable):' %>
              <%= f.file_field :RN_License %>
            </div>

            <div class="col-10 mb-3" style="display: flex">
              <%= f.label :'Have you ever had your professional license or certification, investigated, suspended or had disciplinary action taken against it? * ' %>
              <%= f.select :years_of_experience, ['passed IELTS', 'passed TSE', 'passed TOEFL', 'passed PET', 'exam scheduled', 'not yet passed'] %>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <%= f.label :'Enter the date English Proficiency Exam was passed (DD/MM/YYYY)*:' %>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <%= f.label :'Upload original or certified copy of Birth Certificate*:' %>
              <%= f.file_field :RN_License %>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <%= f.label :'Upload copy of your valid Passport (biographic page)*:' %>
              <%= f.file_field :RN_License %>
            </div>
          </div>

          <h5 class='mt-2'>Application Process</h5>
          <hr class="mt-0 mb-4">

          <h5 class='mt-2'>Employer-specific Questions</h5>
          <hr class="mt-0 mb-4">

          <h5 class='mt-2'>OTHER</h5>
          <hr class="mt-0 mb-4">

          <div class="actions">
            <%= f.submit "Update", class:"btn btn-danger mt-2"%>
          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>