<div class="mb-3 mt-3" style="display: flex; border-radius: .5rem">
  <%= render 'home/sidebar' %>
  <%= form_with(model: @user) do |f| %>
    <% if @user.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_message.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
            
    <div class="card" style="border-radius: .5rem;">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body p-4">

            <h6 style='color:red'> * required fields </h6>
            <h5 class='section_title mt-2'>English Exam</h5>
            <hr class="mt-0 mb-4">
            <div class="col-30 mb-3" style="display: flex">
            <h6>English proficiency exam status: * &nbsp;</h6>
              <%= f.select :english_proficiency, ['passed', 'exam scheduled', 'training in progress'] %>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <h6>If applicable, upload copy of English proficiency exam results:</h6>
              <%= f.file_field :english_proficiency_result %>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <h6>If applicable, enter the date English proficiency exam was passed (DD/MM/YYYY):</h6>
              <%= f.text_field :english_exam_pass_date %>
            </div>

            <hr class="mt-0 mb-4">
            <div class="actions">
              <%= f.submit "Update", :onclick => "return confirm('Are you sure to update?')", class:"btn btn-danger mt-2" %>
            </div>

         </div>
        </div>
      </div>
    </div>
  <% end %>
</div>