<%= render 'home/progress' %>
<div class="mb-3 mt-3 d-md-flex align-items-start gap-2 gap-lg-0">
  <%= render 'home/sidebar' %>
  <%= form_with(model: @user) do |f| %>
    <% if @user.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_message.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card" style="border-radius: .5rem;">
      <div class="row g-0 gnt_immigration_form">
        <div class="col-md-12">
          <div class="card-body p-md-4 p-3">

            <h6 style='color:red'> * required fields </h6>
            <h5 class='section_title mt-2'>Immigration</h5>
            <hr class="mt-0 mb-4">


            <h6><strong>Checklist of documents to begin collecting:</strong></h6>
            <div class="field" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>Valid Passport</h6>
            </div>
            <h7>with validity for more than 6-months after expected entry to the United States</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>Passport photos</h6>
            </div>
            <h7>The passport photos should be square 51mm X 51mm, in color.</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>Copy of Secondary School Diploma</h6>
            </div>
            <h7>Applicants must submit a photocopy of their secondary school diploma or external exam certificate for the highest level of secondary education they attained. Secondary school (high school) is the school attended between elementary school (primary school) and university, usually offering general, technical, vocational, or college-preparatory courses. </h7>
            <br>
            <h7>This requirement is waived for applicants that completed secondary education more than 10 years ago.</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>Copy of all Nursing Licenses, Registrations, Diplomas</h6>
            </div>

            <div class="field mt-2 mb-4" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>Copy of any current or former US Visa(s), Form I-94(s) or any other US immigration-related documentation</h6>
            </div>

            <div class="col-12 mb-3 mt-3 d-flex flex-wrap">
              <h6>Current visa application for: * &nbsp;</h6>
              <%= f.select :apply_visa_for, ['None', 'Self', 'Self and Family'], :prompt => current_gnt_user.apply_visa_for %>
            </div>
            <h6><strong>If you anticipate being accompanied by family members (spouse or children under 21) to the United States, collect the applicable documents:</strong></h6>
            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>Birth Certificates for each individual</h6>
            </div>
            <h7>Original or Certified Copy</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>Passports for each individual</h6>
            </div>
            <h7>with validity for more than 6-months after expected entry to the United States</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>Marriage Certificate, if applicable</h6>
            </div>
            <h7>Original or Certified Copy</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>Divorce Certificates, if applicable</h6>
            </div>
            <h7>Original or Certified Copy</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>Copy of any current or former US Visa(s), Form I-94(s) or any other US immigration-related documentation, for each individual</h6>
            </div>

            <h6 class='mt-4'><strong>Throughout the preparation process, keep copies of the following documents:</strong></h6>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>English Proficiency Exam Report with Passing Score</h6>
            </div>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :currently_working %> &nbsp
              <h6 class='mt-2'>NCLEX Report with Passing Score</h6>
            </div>

            <div class="field mt-2 mb-4" style='display: flex'>
              <%= f.check_box :cgfns %> &nbsp
              <h6 class='mt-2'>CGFNS VisaScreen Certificate</h6>
            </div>

            <h6><strong>Additionally, please confirm the following statements to assure your eligibility:</strong></h6>
            <div class="field mb-2 mt-2 d-flex align-items-baseline">
              <%= f.check_box :convicted_crime %> &nbsp;
              <h6 class='mt-1'>I have never been convicted of a crime. *</h6>
            </div>

            <div class="field mb-2 d-flex align-items-baseline">
              <%= f.check_box :disorder %> &nbsp;
              <h6 class='mt-1'>I have not had any substance use disorder in the last five years. *</h6>
            </div>

            <div class="col-12 mb-3 d-flex flex-wrap">
              <h6>Is there anything else our Recruitment Team should know?</h6>
              <%= f.text_area :other_3, :cols => "70", :rows => "5" %>
            </div>

            <hr class="mt-0 mb-4">
            <div class="actions">
              <%= f.submit "Update", :onclick => "return confirm('Are you sure to update?')", class:"btn btn-danger mt-2" %>
            </div>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
