<%= render 'home/progress' %>
<div class="mb-3 mt-3 d-md-flex align-items-start gap-2 gap-lg-0"> 
  <%= render 'home/sidebar' %>
  <%= form_with(model: @user) do |f| %>
    <% if @user.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_message.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
            
    <div class="card" style="border-radius: .5rem;">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body p-md-4 p-3">

            <%= link_to 'Edit', immigration_path(current_gnt_user), class:"btn dashboard_button_edit mb-3" %>

            <h5 class='section_title'>Immigration</h5>
            <h5 class='section_sub_title' >Step 1: Begin collecting documents you will need for the immigration process. It is important to begin collecting these documents early in the process because some documents can time to collect, and in some cases, to translate. </h5>
            <hr class="mt-0 mb-4">
            
            <h6><strong>Checklist of documents to begin collecting:</strong></h6>
            <div class="field" style='display: flex'>
              <%= f.check_box :check_list_1 %> &nbsp
              <h6 class='mt-2'>Valid Passport</h6>
            </div>
            <h7>with validity for more than 6-months after expected entry to the United States</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :check_list_2 %> &nbsp
              <h6 class='mt-2'>Passport photos</h6>
            </div>
            <h7>The passport photos should be square 51mm X 51mm, in color.</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :check_list_3 %> &nbsp
              <h6 class='mt-2'>Copy of Secondary School Diploma</h6>
            </div>
            <h7>Applicants must submit a photocopy of their secondary school diploma or external exam certificate for the highest level of secondary education they attained. Secondary school (high school) is the school attended between elementary school (primary school) and university, usually offering general, technical, vocational, or college-preparatory courses. </h7>
            <br>
            <h7>This requirement is waived for applicants that completed secondary education more than 10 years ago.</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :check_list_4 %> &nbsp
              <h6 class='mt-2'>Copy of all Nursing Licenses, Registrations, Diplomas</h6>
            </div>

            <div class="field mt-2 mb-4" style='display: flex'>
              <%= f.check_box :check_list_5 %> &nbsp
              <h6 class='mt-2'>Copy of any current or former US Visa(s), Form I-94(s) or any other US immigration-related documentation</h6>
            </div>

            <div class="col-12 mb-3 mt-3 d-flex flex-wrap">
              <h6>Current visa application for: * &nbsp;</h6>
              <%= f.select :apply_visa_for, ['None', 'Self', 'Self and Family'], :prompt => current_gnt_user.apply_visa_for %>
            </div>

            <h6><strong>If you anticipate being accompanied by family members (spouse or children under 21) to the United States, collect the applicable documents:</strong></h6>
            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :check_list_6 %> &nbsp
              <h6 class='mt-2'>Birth Certificates for each individual</h6>
            </div>
            <h7>Original or Certified Copy</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :check_list_7 %> &nbsp
              <h6 class='mt-2'>Passports for each individual</h6>
            </div>
            <h7>with validity for more than 6-months after expected entry to the United States</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :check_list_8 %> &nbsp
              <h6 class='mt-2'>Marriage Certificate, if applicable</h6>
            </div>
            <h7>Original or Certified Copy</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :check_list_9 %> &nbsp
              <h6 class='mt-2'>Divorce Certificates, if applicable</h6>
            </div>
            <h7>Original or Certified Copy</h7>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :check_list_0 %> &nbsp
              <h6 class='mt-2'>Copy of any current or former US Visa(s), Form I-94(s) or any other US immigration-related documentation, for each individual</h6>
            </div>

            <h6 class='mt-4'><strong>Throughout the preparation process, keep copies of the following documents:</strong></h6>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :check_list_11 %> &nbsp
              <h6 class='mt-2'>English Proficiency Exam Report with Passing Score</h6>
            </div>

            <div class="field mt-2" style='display: flex'>
              <%= f.check_box :check_list_12 %> &nbsp
              <h6 class='mt-2'>NCLEX Report with Passing Score</h6>
            </div>

            <div class="field mt-2 mb-4" style='display: flex'>
              <%= f.check_box :cgfns %> &nbsp
              <h6 class='mt-2'>CGFNS VisaScreen Certificate</h6>
            </div>

            <% if false %>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Valid Passport: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_1 %></h6>
            </div>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Passport photos: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_2 %></h6>
            </div>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Copy of Secondary School Diploma: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_3 %></h6>
            </div>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Copy of all Nursing Licenses, Registrations, Diplomas: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_4 %></h6>
            </div>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Copy of any current or former US Visa(s), Form I-94(s) or any other US immigration-related documentation: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_5 %></h6>
            </div>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Birth Certificates for each individual: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_6 %></h6>
            </div>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Passports for each individual: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_7 %></h6>
            </div>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Marriage Certificate, if applicable: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_8 %></h6>
            </div>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Divorce Certificates, if applicable: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_9 %></h6>
            </div>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Copy of any current or former US Visa(s), Form I-94(s) or any other US immigration-related documentation, for each individual: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_0 %></h6>
            </div>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>English Proficiency Exam Report with Passing Score: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_11 %></h6>
            </div>
            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>NCLEX Report with Passing Score: &nbsp</h6>
              <h6 class='profile_text'><%= @user.check_list_12 %></h6>
            </div>
            <% end %>


            <h6 class="mt-1"> Note: All documents should be translated to English. Academic documents should be translated by the academic institution, or CGFNS during the VisaScreen process. For non-academic documents, connect with us if you need support to translate your documents. </h6>
            <hr class="mt-0 mb-4">
            <div class="actions">
              <%= f.submit "Update", :onclick => "return confirm('Are you sure to update?')", class:"btn btn-danger mt-2" %>
            </div>
            
            <h5 class='section_sub_title' >Step 2: Once you accept a job offer with a U.S. hospital, you will be connected to our immigration portal to submit all documents to process your visa(s). </h5>
            <hr class="mt-0 mb-4">

            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Current visa application for: &nbsp</h6>
              <h6 class='profile_text'><%= @user.apply_visa_for %></h6>
            </div>

            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>I have never been convicted of a crime: &nbsp</h6>
              <h6 class='profile_text'><%= @user.convicted_crime %></h6>
            </div>

            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>I have not had any substance use disorder in the last five years: &nbsp</h6>
              <h6 class='profile_text'><%= @user.disorder %></h6>
            </div>

            <div class="col-12 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Is there anything else our Recruitment Team should know?</h6>
              <h6 class='profile_text'><%= @user.other_3 %></h6>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
