<div class="mb-3 mt-3" style="display: flex; border-radius: .5rem">
  <%= render 'home/sidebar' %>
  <%= form_with(model: @user) do |f| %>
    <% if @user.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_message.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
            
    <div class="card" style="border-radius: .5rem;">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body p-4">

            <%= link_to 'Edit', nclex_path(current_gnt_user), class:"btn dashboard_button_edit mb-3" %>

            <h5 class='section_title mt-2'>NCLEX</h5>
            
            <h5 class='section_sub_title'>STEP 1</h5>
            <hr class="mt-0 mb-3">
            <a href="https://www.nclex.com/test-plans.page" target="_blank"> NCLEX test plans </a>

            <h5 class='section_sub_title'>STEP 2</h5>
            <hr class="mt-0 mb-3">
            <a href="https://wsr.pearsonvue.com/testtaker/profile/create/SignUp/NCLEXTESTING" target="_blank"> Register for NCLEX </a>

            <h5 class='section_sub_title'>STEP 3</h5>
            <hr class="mt-0 mb-3">
            <a href="https://www.nclex.com/testing-locations.page" target="_blank"> Find an NCLEX testing center near you </a>

            <h5 class='section_sub_title'>STEP 4</h5>
            <hr class="mt-0 mb-3">
            <a href="https://wsr.pearsonvue.com/testtaker/signin/SignInPage/NCLEXTESTING" target="_blank"> Schedule the NCLEX </a>

            <h5 class='section_sub_title'>STEP 5</h5>
            <hr class="mt-0 mb-3">

            <div class="col-20 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Passed the NCLEX-RN: &nbsp</h6>
              <h6 class='profile_text'><%= @user.nclex_rn %></h6>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <h6 class='profile_prompt'>NCLEX-RN State : &nbsp</h6>
              <h6 class='profile_text'><%= @user.nclex_rn_state %></h6>
            </div>

         </div>
        </div>
      </div>
    </div>
  <% end %>
</div>