<%= render 'home/progress' %>
<div class="mb-3 mt-3 d-md-flex align-items-start gap-2 gap-lg-0"> 
  <%= render 'home/sidebar' %>
  <%= form_with(model: @user) do |f| %>
    <% if @user.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_message.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card" style="border-radius: .5rem;">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body p-md-4 p-3">
            <h5 class='section_title'>Onboarding</h5>
            <hr class="mt-0 mb-4">

            <div class="actions">
              <h6 style="text-align: center"> We will contact you via e-mail with the introductory packet detailing your location and steps to the United States, including housing options.</h6>
              <br>
              <h6 style="text-align: center; font-size: 20px"><strong><i>WELCOME TO THE USA!</i><strong></h6>
            </div>

            <h5 class='section_title mt-5'>Referral Offer</h5>
            <hr class="mt-0 mb-4">
            <div class="actions" style="text-align: center;">
              <h6>
                <strong style="font-size: 20px">REFER A NURSE, OR PHYSICAL THERAPIST, AND YOU COULD EARN $500!</strong>
                <br><br>
                Do you know any Registered Nurses, or Physical Therapists, internationally who want to live their American Dream?
              </h6>
              <h6>
                For a limited time, KYND is <strong>offering a $500 referral bonus</strong> for referring a qualified nurse to our program, upon their employment.
              </h6>
              <h6>
                Don’t miss this chance to change someone’s life and make some extra money at the same time!
              </h6>
              <br>
              <h6>
                <i>Our offer runs from January 1st, 2024 until December 31st, 2024. Terms and conditions apply, reach out to a KYND recruiter to learn more. </i>
              </h6>
            </div>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>