<div class="mb-3 mt-3 d-md-flex align-items-start gap-2 gap-lg-0"> 
  <%= render 'home/sidebar' %>
  <%= form_with(model: @user) do |f| %>
    <% if @user.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_message.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= form_with(model: @user) do |f| %>
      <div class="card col-md-12">
        <div class="row g-0">
          <div class="">
            <div class="card-body p-3 p-md-4 ">
              <h5 class='section_title'>Register</h5>

              <h5 class='section_sub_title'>STEP 1</h5>
              <hr class="mt-0 mb-4">
              <h6 class="mt-1"><strong>Click <a href="https://forms.gle/r6fdDb3f2bNwPniW7" target="_blank">HERE</a> to register for the next webinar.</strong></h6>
              
              <div class="field mb-2" style='display: flex'>
                <h6 class='mt-2'>Registration Complete. *</h6>
              </div>

              <%= image_tag 'landing_eng.svg', style:'margin-left: 5%; width:90%; height:90%' %>

              <h5 class='section_sub_title'>STEP 2</h5>
              <hr class="mt-0 mb-2">

              <h6>Choose one of the below options: *</h6>
              <div class="col-12 mb-3"> 
                <div>
                  <div class="row my-3">
                    <div class="col-md-2 col-3 pe-0">
                      <h6><strong> Option 1: </strong></h6>
                    </div>
                    <div class="col-md-10 col-9">
                      <h6><strong> If you have passed an English proficiency exam (e.g. IELTS, PTE) within the last 2 years, please upload your test results HERE: <%= f.file_field :english_proficiency_result %></strong></h6>
                    </div>
                  </div>

                  <div class="row my-3">
                    <div class="col-md-2 col-3 pe-0">
                      <h6><strong> Option 2: </strong></h6>
                    </div>
                    <div class="col-md-10 col-9">
                      <h6><strong> If you have NOT recently passed an English proficiency exam (e.g. IELTS, PTE), we can provide a pathway for your preparation:</strong> </h6>
                      <h6> &nbsp; &nbsp; i. First, register for a FREE English assessment to determine your current level of English proficiency: 
                        <div class="field mb-2 d-flex text-dark">
                          <%= f.check_box :request_english_assessment %> &nbsp
                          <h6 class='mt-2'> Check HERE to request English Assessment.</h6>
                        </div>  
                      </h6>
                      <h6> &nbsp; &nbsp; ii. After your English Assessment, we will reach out to you with your results and offer an individualized language preparation plan. Scholarships are available now!</h6>  
                    </div>
                  </div>
                </div>
              </div>

              <h5 class='section_sub_title mt-2'>STEP 3</h5>
              <hr class="mt-0 mb-2">

              <div class="col-30 mb-3" style='display: flex'>
                <div>
                  <br>
                  <h6> CONNECT with us if you have any questions:</h6>
                  <%= link_to image_tag('whatsapp_color.svg'), "https://api.whatsapp.com/send/?phone=16692444685&text&type=phone_number&app_absent=0", target: :_blank %>
                </div>
              </div>

              <hr class="mt-0 mb-3">
              <div class="actions">
                <%= f.submit "Update", :onclick => "return confirm('Are you sure to update?')", class:"btn btn-danger mt-2" %>
              </div>

            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>