<div class="mb-3 mt-3 d-md-flex align-items-start gap-2 gap-lg-0">
  <%= render 'home/sidebar' %>
  <%= form_with(model: @user) do |f| %>
    <% if @user.errors.any? %>
      <div id='error_explanation'>
        <h2><%= pluralize(user.errors.count, 'error') %> prohibited this user from being saved:</h2>
        <ul>
          <% @user.errors.full_message.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="card" style="border-radius: .5rem;">
      <div class="row g-0">
        <div class="col-md-12">
          <div class="card-body p-md-4 p-3">

            <%= link_to 'Edit', screening_path(current_gnt_user), class:"btn dashboard_button_edit mb-3" %>

            <h5 class='section_title'>Screening</h5>
            <h5 class='section_sub_title'>STEP 1</h5>
            <hr class="mt-0 mb-4">
            <h6 class='profile_prompt mt-3'> Set up a CGFNS account <a href="https://start.cgfns.org/?ref=www_register" target="_blank"> HERE </a></h6>
            <h6 class='profile_prompt mt-3'> Review Visascreen® fees <a href="https://www.cgfns.org/support/fee-schedule/#visascreen" target="_blank"> HERE </a></h6>

            <h5 class='section_sub_title'>STEP 2</h5>
            <hr class="mt-0 mb-4">
            <h6 class='profile_prompt mb-3'> Apply and upload the below required documents to your VisaScreen® account <a href="https://www.cgfns.org/services/certification/visascreen-visa-credentials-assessment/" target="_blank"> HERE </a></h6>
            <h6>✔ Education History: secondary school, professional education and diplomas</h6>
            <h6>✔ Licensure: all current and past licenses</h6>
            <h6>✔ English Language Proficiency Exam results</h6>
            <h6>✔ NCLEX results</h6>
            <h6>✔ Profile Photo (JPG file type, less than 5MB in size, square shape, 51mmx51mm length and width, and full color)</h6>

            <h5 class='section_sub_title'>STEP 3</h5>
            <hr class="mt-0 mb-4">


            <div class="col-30 mb-3" style="display: flex">
              <h6 class='profile_prompt'> Visacreen® status:  &nbsp</h6>
              <h6 class='profile_text'><%= @user.visascreen_status %></h6>
            </div>

          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>