<div class="mb-3 mt-3" style="display: flex; border-radius: .5rem">
  <%= render 'home/sidebar' %>
  <div class="card">
    <div class="row g-0">

      <div class="col-md-12">
        <div class="card-body p-4">
          <%= link_to 'Edit', edit_gnt_user_path(current_gnt_user), class:"btn dashboard_button_edit mb-2" %>
          
          <h5 class='section_title'> Getting Started</h5>
          <h5 class='section_sub_title mb-2' >STEP 1: Basic Information</h5>
          <hr class="mt-0 mb-4">

          <div class="row pt-1">
            <div class="col-30 mb-3" style='display:flex'>
              <h6 class='profile_prompt'>Full legal name: &nbsp</h6>
              <h6 class='profile_text'><%= @user.legal_name %></h6>
            </div>

            <div class="col-30 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Email address: &nbsp</h6>
              <h6 class='profile_text'><%= @user.email%></h6>
            </div>

            <% if false %>
              <div class="col-30 mb-3" style="display: flex">
                <h6 class='profile_prompt'>Languages spoken: &nbsp</h6>
                <h6 class='profile_text'><%= @user.languages_spoken %></h6>
              </div>
            <% end %>

            <div class="col-30 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Nationality: &nbsp</h6>
              <h6 class='profile_text'><%= @user.nationality %></h6>
            </div>

            <div class="col-30 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Current residence: &nbsp</h6>
              <h6 class='profile_text'><%= @user.current_resident_state %>, <%= @user.current_resident %></h6>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <h6 class='profile_prompt'>I am a: &nbsp</h6>
              <h6 class='profile_text'><%= @user.i_am %></h6>
            </div>

            <div class="field mb-2" style="display: flex">
              <h6 class='profile_prompt'>Year of expected graduation: &nbsp</h6>
              <h6 class='profile_text'><%= @user.year_of_graduation %></h6>
            </div>

            <div class="field mb-2" style='display:flex'>
              <h6 class='profile_prompt'>I am currently working as a nurse in a clinical setting: &nbsp</h6>
              <h6 class='profile_text'><%= @user.currently_working %></h6>
            </div>

            <div class="col-30 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Years of nursing work experience: &nbsp</h6>
              <h6 class='profile_text'><%= @user.years_of_experience %></h6>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Resume: &nbsp</h6>
              <% if @user.resume.attached? %>
                <%= link_to @user.resume.filename, url_for(@user.resume) %>
              <% end %>
            </div>

            <% if false %>
            <div class="col-30 mb-3" style="display: flex">
              <h6 class='profile_prompt'>Specialty: &nbsp</h6>
              <h6 class='profile_text'><%= @user.years_of_experience %></h6>
            </div>
            <% end %>

            <div class="col-30 mb-3" style='display:flex'>
              <h6 class='profile_prompt'>Phone number: &nbsp</h6>
              <h6 class='profile_text'> <%= "#{@user.country_code} #{@user.phone_number} " %></h6>
            </div>

            <div class="field mb-2" style='display:flex'>
              <h6 class='profile_prompt'>I authorize contact by WhatsApp: &nbsp</h6>
              <h6 class='profile_text'><%= @user.auth_whatsapp %></h6>
            </div>

            <div class="field mb-2" style='display:flex'>
              <h6 class='profile_prompt'>I authorize contact by telephone, email and text messaging (messaging rates may apply): &nbsp</h6>
              <h6 class='profile_text'><%= @user.auth_text %></h6>
            </div>
          </div>

        
          <% if current_gnt_user.id == @user.id %>
            <h5 class='section_sub_title mt-4' >STEP 2: Start My Application</h5>
            <hr class="mt-0 mb-2">
            <%= form_with(model: @user) do |f| %>
              <div class="field mb-2" style='display: flex; color:black'>
                <%= f.check_box :request_to_apply %> &nbsp
                <h6 class='mt-2'>Send request to start my application.</h6>
              </div>
              <%= f.submit "Request", :onclick => "return confirm('Confirm Request')", class:"btn btn-danger mt-2" %>
            <% end %>
          <% elsif current_gnt_user.admin? %>
            <h5 class='section_sub_title mt-4' >Grant Application Access</h5>
            <hr class="mt-0 mb-2">
            <%= form_with(model: @user) do |f| %>
              <div style='display: flex'>
                <div class="field mb-2" style='display: flex; color:black'>
                  <%= f.check_box :grant_apply_request %> &nbsp
                  <h6 class='mt-2'>Grant access for appliaction. &nbsp</h6>
                </div>
                <%= f.submit "Grant", :onclick => "return confirm('Are you sure to Grant?')", class:"btn btn-danger" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

