<div class="card mb-3 mt-3" style="border-radius: .5rem;">
  <div class="row g-0">

    <div class="col-md-4 gradient-custom text-center text-white"
      style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
      <div class='filed mt-5'>
        <% if @user.avatar.attached? %>
          <%= image_tag(@user.avatar, height: '100px', width: '100px', class:'border border-2 rounded-5') %>
        <% else %>
          <%= image_tag 'gnt_logo.png', alt:"Avatar", class:"border border-3 rounded", style:"width: 150px" %>
        <% end %>
      </div>
      <div class='mt-3'>
        <h6 style='color:black'> <%= @user.full_name %> </h6>
      </div>
      <i style="color:black;" class="far fa-edit mb-5"></i>
    </div>

    <div class="col-md-8">
      <div class="card-body p-4">
        <h5>Basic Information</h5>
        <hr class="mt-0 mb-4">

        <div class="row pt-1">
          <div class="col-6 mb-3">
            <h6>Full legal name*:</h6>
          </div>

          <div class="col-6 mb-3" style="display: flex">
            <h6>Nationality: &nbsp</h6>
            <h6 style='color:red'><%= @user.nationality %></h6>
          </div>

          <div class="col-6 mb-3" style="display: flex">
            <h6>Email: &nbsp</h6>
            <h6 style='color:red'><%= @user.email%></h6>
          </div>

          <div class="col-6 mb-3" style="display: flex">
            <h6>Current resident: &nbsp</h6>
            <h6 style='color:red'><%= @user.current_resident %></h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>I am: &nbsp</h6>
            <h6 style='color:red'><%= @user.i_am %></h6>
          </div>

          <div class="field mb-2">
            <h6>Are you currently working as a registered nurse in a clinical setting?: &nbsp</h6>
          </div>

          <div class="col-6 mb-3" style="display: flex">
            <h6>Years of experience: &nbsp</h6>
            <h6 style='color:red'><%= @user.years_of_experience %></h6>
          </div>

          <div class="col-6 mb-3" style="display: flex">
            <h6>Apply visa for: &nbsp</h6>
            <h6 style='color:red'><%= @user.apply_visa_for %></h6>
          </div>
        </div>

        <h5 class='mt-2'>Nursing Credentials</h5>
        <hr class="mt-0 mb-4">
        <div class="row pt-1">
          <div class="col-20 mb-3" style="display: flex">
            <h6>Nurse License: &nbsp</h6>
            <% if @user.RN_License.attached? %>
              <%= link_to @user.RN_License.filename, url_for(@user.RN_License) %>
            <% end %>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>Diploma of Nursing Education: &nbsp</h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>Diploma of Nursing Education English translation: &nbsp</h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>Nursing Education Transcript: &nbsp</h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>Nursing Education Transcript English translation: &nbsp</h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>CGFNS VisaScreen Report: &nbsp</h6>
          </div>
          
          <div class="col-20 mb-3" style="display: flex">
            <h6>Have you ever had your professional license or certification, investigated, suspended or had disciplinary action taken against it?: &nbsp</h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>English proficiency exam results: &nbsp</h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>Date of English Proficiency Exam was passed: &nbsp</h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>Original or certified copy of Birth Certificate: &nbsp</h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>Valid Passport (biographic page): &nbsp</h6>
          </div>
        </div>

        <h5 class='mt-2'>Application Process</h5>
        <hr class="mt-0 mb-4">

        <h5 class='mt-2'>Employer-specific Questions</h5>
        <hr class="mt-0 mb-4">

        <h5 class='mt-2'>OTHER</h5>
        <hr class="mt-0 mb-4">

      </div>
    </div>

  </div>
</div>

<% if current_gnt_user.id == @user.id %>
  <%= link_to 'Edit My Profile', edit_gnt_user_path(current_gnt_user), class:'btn btn-primary' %>
<% end %>

