<div class="card mb-3 mt-3" style="border-radius: .5rem;">
  <div class="row g-0">

    <div class="col-md-4 gradient-custom text-center text-white"
      style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
      <div class='filed mt-5'>
        <% if @user.avatar.attached? %>
          <%= image_tag(@user.avatar, height: '100px', width: '100px', class:'border border-2 rounded-5') %>
        <% else %>
          <%= image_tag 'gnt_logo.png', alt:"Avatar", class:"border border-3 rounded", style:"width: 150px" %>
        <% end %>
      </div>
      <div class='mt-3'>
        <h6 style='color:black'> <%= @user.first_name %> </h6>
      </div>
      <% if current_gnt_user.id == @user.id %>
        <%= link_to 'Edit My Profile', edit_gnt_user_path(current_gnt_user), class:'btn btn-primary' %>
      <% end %>
    </div>

    <div class="col-md-8">
      <div class="card-body p-4">
        <h5 class='section_title' >Basic Information</h5>
        <hr class="mt-0 mb-4">

        <div class="row pt-1">
          <div class="col-30 mb-3" style='display:flex'>
            <h6>Full Legal Name*: &nbsp</h6>
            <h6 class='profile_text'><%= @user.legal_name %></h6>
          </div>

          <div class="col-30 mb-3" style="display: flex">
            <h6>Email Address: &nbsp</h6>
            <h6 class='profile_text'><%= @user.email%></h6>
          </div>

          <div class="col-30 mb-3" style="display: flex">
            <h6>Languages spoken: &nbsp</h6>
            <h6 class='profile_text'><%= @user.langauges_spoken %></h6>
          </div>

          <div class="col-30 mb-3" style="display: flex">
            <h6>Nationality: &nbsp</h6>
            <h6 class='profile_text'><%= @user.nationality %></h6>
          </div>

          <div class="col-30 mb-3" style="display: flex">
            <h6>Current country of residence: &nbsp</h6>
            <h6 class='profile_text'><%= @user.current_resident %></h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>I am: &nbsp</h6>
            <h6 class='profile_text'><%= @user.i_am %></h6>
          </div>

          <div class="field mb-2">
            <h6>Year of expected graduation: &nbsp</h6>
            <h6 class='profile_text'><%= @user.year_of_graduation %></h6>
          </div>

          <div class="field mb-2" style='display:flex'>
            <h6>I am currently working as a nurse in a clinical setting: &nbsp</h6>
            <h6 class='profile_text'><%= @user.currently_working %></h6>
          </div>

          <div class="col-30 mb-3" style="display: flex">
            <h6>Years of nursing work experience: &nbsp</h6>
            <h6 class='profile_text'><%= @user.years_of_experience %></h6>
          </div>

          <div class="col-30 mb-3" style='display:flex'>
            <h6>Phone number: &nbsp</h6>
            <h6 class='profile_text'><%= @user.phone_number %></h6>
          </div>

          <div class="field mb-2" style='display:flex'>
            <h6>I authorize contact by WhatsApp: &nbsp</h6>
            <h6 class='profile_text'><%= @user.auth_whatsapp %></h6>
          </div>

          <div class="field mb-2" style='display:flex'>
            <h6>I authorize contact by telephone and text messaging (messaging rates may apply): &nbsp</h6>
            <h6 class='profile_text'><%= @user.auth_text %></h6>
          </div>
        </div>

        <h5 class='section_title mt-2'>Nursing Credentials</h5>
        <hr class="mt-0 mb-4">
        <div class="row pt-1">
          <div class="col-20 mb-3" style="display: flex">
            <h6>Resume: &nbsp</h6>
            <% if @user.resume.attached? %>
              <%= link_to @user.resume.filename, url_for(@user.resume) %>
            <% end %>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>License Type: &nbsp</h6>
            <h6 class='profile_text'><%= @user.license_type %></h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>Nursing License: &nbsp</h6>
            <% if @user.rn_license_upload.attached? %>
              <%= link_to @user.rn_license_upload.filename, url_for(@user.rn_license_upload) %>
            <% end %>
          </div>
        
          <div class="col-20 mb-3" style="display: flex">
            <h6>I hereby declare that my nursing license or certification has never been subject to any investigation, legal action, disciplinary measures, suspension, or malpractice claims.: &nbsp</h6>
            <h6 class='profile_text'><%= @user.stage3_1 %></h6>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>Diploma of Nursing Education: &nbsp</h6>
            <% if @user.diploma.attached? %>
              <%= link_to @user.diploma.filename, url_for(@user.diploma) %>
            <% end %>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>English translation of nursing education diploma:: &nbsp</h6>
            <% if @user.diploma_translate.attached? %>
              <%= link_to @user.diploma_translate.filename, url_for(@user.diploma_translate) %>
            <% end %>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>Nursing education transcript: &nbsp</h6>
            <% if @user.transcript.attached? %>
              <% for item in @user.transcript %>
                <%= link_to item.filename, url_for(item) %>
              <% end %>
            <% end %>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>English translation of nursing education transcripts: &nbsp</h6>
            <% if @user.transcript_translate.attached? %>
              <% for item in @user.transcript_translate %>
                <%= link_to item.filename, url_for(item) %>
              <% end %>
            <% end %>
          </div>

          <div class="col-20 mb-3">
            <h6>Number of clinical hours in the nursing program by specialty: &nbsp</h6>
            <div class="col-20 mb-3" style="display: flex">
              <h6>Medical-Surgical:</h6>
              <h6 class='profile_text'><%= @user.clinical_hour %></h6>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <h6>Pediatrics:</h6>
              <h6 class='profile_text'><%= @user.clinical_hour %></h6>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <h6>Obstetrics/Gynecology:</h6>
              <h6 class='profile_text'><%= @user.clinical_hour %></h6>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <h6>Psychiatry:</h6>
              <h6 class='profile_text'><%= @user.clinical_hour %></h6>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <h6>Emergency:</h6>
              <h6 class='profile_text'><%= @user.clinical_hour %></h6>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <h6>Critical Care (ICU):</h6>
              <h6 class='profile_text'><%= @user.clinical_hour %></h6>
            </div>

            <div class="col-20 mb-3" style="display: flex">
              <h6>Geriatrics/Nursing Home:</h6>
              <h6 class='profile_text'><%= @user.clinical_hour %></h6>
            </div>

            <div class="col-20" style="display: flex">
              <h6>Other (Please Specify):</h6>
              <h6 class='profile_text'><%= @user.clinical_hour %></h6>
            </div>
          </div>

          <div class="col-20 mb-3" style="display: flex">
            <h6>Is there anything else our Recruitment Team should know?</h6>
            <h6 class='profile_text'><%= @user.other_1 %></h6>
          </div>
        </div>

        <h5 class='section_title mt-2'>US Nursing Credentials</h5>
        <hr class="mt-0 mb-4">
        <div class="col-20 mb-3" style="display: flex">
          <h6> CGFNS VisaScreen Report: &nbsp</h6>
          <% if @user.cgfns_upload.attached? %>
            <%= link_to @user.cgfns_upload.filename, url_for(@user.cgfns_upload) %>
          <% end %>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>English proficiency exam status: &nbsp</h6>
          <h6 class='profile_text'><%= @user.english_proficiency %></h6>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>English proficiency exam result: &nbsp</h6>
          <% if @user.english_proficiency_result.attached? %>
            <%= link_to @user.english_proficiency_result.filename, url_for(@user.english_proficiency_result) %>
          <% end %>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>English proficiency exam passed date: &nbsp</h6>
          <h6 class='profile_text'><%= @user.english_exam_pass_date %></h6>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>Passed the NCLEX-RN: &nbsp</h6>
          <h6 class='profile_text'><%= @user.nclex_rn %></h6>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>NCLEX-RN State : &nbsp</h6>
          <h6 class='profile_text'><%= @user.nclex_rn_state %></h6>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>NCLEX Exam Results: &nbsp</h6>
          <% if @user.nclex_rn_upload.attached? %>
            <%= link_to @user.nclex_rn_upload .filename, url_for(@user.nclex_rn_upload ) %>
          <% end %>
        </div>  

        <div class="col-20 mb-3" style="display: flex">
          <h6>I have an active license to work as a Registered Nurse in the United States.: &nbsp</h6>
          <h6 class='profile_text'><%= @user.rn_in_us %></h6>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>Licensure State: &nbsp</h6>
          <h6 class='profile_text'><%= @user.rn_in_us_state %></h6>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>I affirm that my fingerprints have been submitted for the purpose of state licensure, and I understand that my application may be subject to verification by the respective state nursing board.: &nbsp</h6>
          <h6 class='profile_text'><%= @user.background_check %></h6>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>Is there anything else our Recruitment Team should know?</h6>
          <h6 class='profile_text'><%= @user.other_2 %></h6>
        </div>

        <h5 class='section_title mt-2'>Immigration Documentation</h5>
        <hr class="mt-0 mb-4">
        <div class="col-20 mb-3" style="display: flex">
          <h6>Original or certified copy of Birth Certificate: &nbsp</h6>
          <% if @user.birth_certificate.attached? %>
            <%= link_to @user.birth_certificate.filename, url_for(@user.birth_certificate) %>
          <% end %>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>Translation of Birth Certificate: &nbsp</h6>
          <% if @user.birth_certificate_translate.attached? %>
            <%= link_to @user.birth_certificate_translate.filename, url_for(@user.birth_certificate_translate) %>
          <% end %>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>Valid Passport (biographic page): &nbsp</h6>
          <% if @user.passport.attached? %>
            <%= link_to @user.passport.filename, url_for(@user.passport) %>
          <% end %>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>Current or former US Visa(s): &nbsp</h6>
          <% if @user.visa.attached? %>
            <% for item in @user.visa %>
              <%= link_to item.filename, url_for(item) %>
            <% end %>
          <% end %>
        </div>

        <div class="col-30 mb-3" style="display: flex">
          <h6>Current visa application for: &nbsp</h6>
          <h6 class='profile_text'><%= @user.apply_visa_for %></h6>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>U.S. Entry Stamp or I-94 Departure/Arrival record: &nbsp</h6>
          <% if @user.entry_stamp.attached? %>
            <%= link_to @user.entry_stamp.filename, url_for(@user.entry_stamp) %>
          <% end %>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>I have never been convicted of a crime: &nbsp</h6>
          <h6 class='profile_text'><%= @user.convicted_crime %></h6>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>I have not had any substance use disorder in the last five years: &nbsp</h6>
          <h6 class='profile_text'><%= @user.disorder %></h6>
        </div>

        <div class="col-20 mb-3" style="display: flex">
          <h6>Is there anything else our Recruitment Team should know?</h6>
          <h6 class='profile_text'><%= @user.other_3 %></h6>
        </div>
      </div>
    </div>
  </div>
</div>

