<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow" style="">

        <div class="modal-header p-5 pb-4 border-bottom-0">
          <h1 class="fw-bold mb-0 fs-2">Sign up:</h1>
        </div>

        <div class="modal-body p-5 pt-0">
          <form class="">
            <div class="form-floating mb-3">
              <%= f.text_field :full_name, autofocus: true, class: "form-control rounded-3", placeholder:"First Name / Nickname" %>
              <label for="floatingInput">Full Name</label>
            </div>

            <div class="form-control mb-3" style='display: flex'>
              <label>I am a: &nbsp</label>
              <%= f.select(:i_am, ['Select One','Registered Nurse', 'Student Nurse']) %>
            </div>

            <div class="form-control mb-3" style='display: flex'>
              <label>Years of nursing work experience: &nbsp</label>
              <%= f.select :years_of_experience, ['0', '1', '2', '3+'] %>
            </div>

            <% if false %>
              <div class="form-control mb-3" style="display: flex">
                <%= f.label :'Resume:' %> &nbsp
                <%= f.file_field :resume %>
              </div>
            <% end %>

            <div class="form-control mb-3">
              <label>Nationality: &nbsp</label>
              <%= f.country_select :nationality, priority_countries = ["Singapore", "Chile", "Mexico", "Philippines", "UK", "Canada", "Spain", "US"] %>
            </div>

            <div class="form-control mb-3">
              <label>Phone number +1 123 456 7890:</label>
              <%= f.text_field :phone_number %>
            </div>

            <div class="form-floating mb-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control rounded-3", id:"floatingInput", placeholder:"name@example.com"%>
              <label for="floatingInput">Email address *</label>
            </div>

            <div class="form-floating mb-3">
              <%= f.password_field :password, autocomplete: "new-password", placeholder:"go_rails", class: "form-control rounded-3", id:"floatingPassword"%>
              <label for="floatingPassword">
                Password *
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
              </label>
            </div>

            <div class="form-floating mb-3">
              <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder:"go_rails", class: "form-control rounded-3" %>
              <label for="floatingPassword"> Password Confirmation *</label>
            </div>

            <% if false %>
              <div class="field">
                <%= f.label :user_type %><br /> 
                <%= f.text_field :role, autocomplete: "candidate", placeholder:"candidate" %>
              </div>
            <% end %>

            <div class="col-9 mb-3">
              <label>How did you hear about us? (optional):</label>
              <%= f.select :where_hear, ['Internet', 'In person', 'Event', 'Friend/Relative/Colleague', 'Billboard or Flyer', 'Other'] %>
            </div>

            <div class="field mb-2">
              <%= f.check_box :terms_of_use %>
              <%= f.label :"I agree to the Terms and Conditions *." %>
            </div>

            <%= f.submit "Sign up", class:"w-100 mb-2 btn btn-lg rounded-3 btn-primary" %>
            
            <% if false %>
              <hr class="my-4">
              <h2 class="fs-5 fw-bold mb-3">Or use a third-party</h2>
              <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x me-2" viewBox="0 0 16 16">
                  <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865l8.875 11.633Z"/>
                </svg>
                Sign up with Twitter
              </button>
              <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-3" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook me-2" viewBox="0 0 16 16">
                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                </svg>
                Sign up with Facebook
              </button>
              <button class="w-100 py-2 mb-2 btn btn-outline-secondary rounded-3" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-linkedin me-2" viewBox="0 0 16 16">
                  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg>
                Sign up with LinkedIn
              </button>
            <% end %>
            
          </form>
        </div>

      </div>
    </div>
  </div>
<% end %>