<header class="p-3 navbar-custom" >
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item">
          <%= image_tag 'ta_logo.png', style:'width:70px; height:45px' %>
        </li>

        <% if current_gnt_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
              Talent Angels America
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item" >
                <%= link_to 'Home', root_path, class:'nav-link active'%>
              </li>
              <li class="nav-item">
                <%= link_to 'About Us', home_about_path, class:'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Contact Us', home_contact_us_path, class:"nav-link active" %>
              </li>
            </ul>
          </li>
        <% else %>
          <%= link_to 'Talent Angels America', root_path, class:'nav-link active header_text'%>
          <li class="nav-item" >
            <%= link_to 'Home', root_path, class:'nav-link active'%>
          </li>
          <li class="nav-item">
            <%= link_to 'About Us', home_about_path, class:'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact Us', home_contact_us_path, class:"nav-link active" %>
          </li>
        <% end %>

        <% if current_gnt_user && current_gnt_user.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
              Admin
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <%= link_to 'Statistics', admin_pages_statistics_path, class:"nav-link active"%>
              </li>
              <li class="nav-item">
                <%= link_to 'Nurse Status', admin_pages_application_status_path, class:"nav-link active"%>
              </li>
            </ul>
          </li>
        <% end %>

        <% if current_gnt_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
              International Nurses
            </a>
            <ul class="dropdown-menu">
              <% if current_gnt_user && current_gnt_user.candidate? %>
                <li class="nav-item">
                  <%= link_to 'Application Status', candidates_pages_application_status_path, class:'nav-link active' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Edit Account', edit_gnt_user_registration_path, class:'nav-link active' %>
                </li>
              <% end %>
              <li class="nav-item" >
                <%= link_to 'How To Apply', root_path, class:'nav-link active'%>
              </li>
              <li class="nav-item">
                <%= link_to 'News Feed', home_news_feed_path, class:'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Resources', home_resources_path, class:'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to 'FAQ', home_faq_path, class:"nav-link active" %>
              </li>
            </ul>
          </li>
          <% if false %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                Employers
              </a>
              <ul class="dropdown-menu">
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if gnt_user_signed_in? %>
        <div class="text-end">
          <%= link_to 'Sign Out', destroy_gnt_user_session_path, data: { turbo_method: :delete }, class:'btn sign_in_out' %>
        </div>
        &nbsp
        <% if not current_gnt_user.admin? %>
          <% if false %>
            <div class="text-end">
              <%= link_to 'My Profile', gnt_user_path(current_gnt_user), class:'btn btn-primary' %>
            </div>
          <% end %>
          <%= link_to image_tag('profile.svg'), gnt_user_path(current_gnt_user) %>
        <% end %>
      <% else %>
        <div class="text-end">
          <%= link_to 'Sign In', new_gnt_user_session_path, class:'btn sign_in_out me-2' %>
          <%= link_to 'Apply', new_gnt_user_registration_path, class:'btn apply' %>
        </div>
      <% end %>
    </div>
  </div>
</header>
