<header class="p-3 navbar-custom" >
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-item">
          <%= image_tag 'ta_logo.png', style:'width:70px; height:45px' %>
        </li>

        <% if current_gnt_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
              Talent Angels America
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item" >
                <%= link_to 'Home', root_path, class:'nav-link active'%>
              </li>
              <li class="nav-item">
                <%= link_to 'About Us', home_about_path, class:'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Contact Us', home_contact_us_path, class:"nav-link active" %>
              </li>
            </ul>
          </li>
        <% else %>
          <%= link_to 'Talent Angels America', root_path, class:'nav-link active header_text'%>
          <li class="nav-item" >
            <%= link_to 'Home', root_path, class:'nav-link active'%>
          </li>
          <li class="nav-item">
            <%= link_to 'About Us', home_about_path, class:'nav-link active' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Contact Us', home_contact_us_path, class:"nav-link active" %>
          </li>
        <% end %>

        <% if current_gnt_user && current_gnt_user.admin? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
              Admin
            </a>
            <ul class="dropdown-menu">
              <li class="nav-item">
                <%= link_to 'Statistics', admin_pages_statistics_path, class:"nav-link active"%>
              </li>
              <li class="nav-item">
                <%= link_to 'Nurse Status', admin_pages_application_status_path, class:"nav-link active"%>
              </li>
            </ul>
          </li>
        <% end %>

        <% if current_gnt_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
              International Nurses
            </a>
            <ul class="dropdown-menu">
              <% if current_gnt_user && current_gnt_user.candidate? %>
                <li class="nav-item">
                  <%= link_to 'Application Status', candidates_pages_application_status_path, class:'nav-link active' %>
                </li>
                <li class="nav-item">
                  <%= link_to 'Edit Account', edit_gnt_user_registration_path, class:'nav-link active' %>
                </li>
              <% end %>
              <li class="nav-item" >
                <%= link_to 'How To Apply', root_path, class:'nav-link active'%>
              </li>
              <li class="nav-item">
                <%= link_to 'News Feed', home_news_feed_path, class:'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to 'Resources', home_resources_path, class:'nav-link active' %>
              </li>
              <li class="nav-item">
                <%= link_to 'FAQ', home_faq_path, class:"nav-link active" %>
              </li>
            </ul>
          </li>
          <% if false %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown">
                Employers
              </a>
              <ul class="dropdown-menu">
              </ul>
            </li>
          <% end %>
        <% end %>
      </ul>

      <% if gnt_user_signed_in? %>
        <div class="text-end">
          <%= link_to 'Sign Out', destroy_gnt_user_session_path, data: { turbo_method: :delete }, class:'btn btn-warning' %>
        </div>
        &nbsp
        <% if not current_gnt_user.admin? %>
          <% if false %>
            <div class="text-end">
              <%= link_to 'My Profile', gnt_user_path(current_gnt_user), class:'btn btn-primary' %>
            </div>
          <% end %>
          <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16">
            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
          </svg>
          <%= link_to image_tag(current_gnt_user.avatar_thumbnail, class:'border border-2 rounded-5'), gnt_user_path(current_gnt_user) %>
        <% end %>
      <% else %>
        <div class="text-end">
          <%= link_to 'Sign In', new_gnt_user_session_path, class:'btn sign_in me-2' %>
          <%= link_to 'Apply', new_gnt_user_registration_path, class:'btn apply' %>
        </div>
      <% end %>
    </div>
  </div>
</header>
