<div class="navbar gnt_navbar_slider_btn nav-bg-dark p-0 mb-3 mb-md-0">
  <button class="navbar-toggler shadow-none " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
    <span class="navbar-toggler-icon"></span>
  </button>
</div>
<div class="gnt_navbar_slider d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary align-items-center offcanvas-lg offcanvas-start col-md-2 col-lg-3" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="d-flex flex-column align-items-center justify-content-center ">
    <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none"  aria-expanded="false">
      <%= image_tag(@user.avatar, height: '100px', width:"100px", class:'border border-2 rounded-circle') %>
    </a>
    <div>
      <a style="font-size: 20px;">Welcome,</a>
    </div>
    <div>
      <strong style="font-size: 20px;"><%= @user.full_name %></strong>
    </div>
  </div>

  <hr>
  <strong><h6> Begin Here </h6></strong>
  <%= image_tag('begin_here.svg')%>

  <ul class="nav nav-pills flex-column mb-auto" style="margin-left: 0%; margin-right: 0%;">
    <li class="nav-item mt-1 mb-1">
      <%= link_to image_tag('get_started.svg')+' Getting Started', register_path(current_gnt_user), class:"btn rounded-0 text-decoration-none dashboard_button col-12" %>
    </li>

    <li class="nav-item mt-1 mb-1">
      <%= link_to image_tag('register.svg')+' Basic Info', gnt_user_path(current_gnt_user), class:"btn rounded-0 dashboard_button col-12"%>
    </li>

    <li class="nav-item mt-1 mb-1">
      <% if current_gnt_user.id == @user.id and current_gnt_user.grant_apply_request %>
        <%= link_to image_tag('professional.svg')+' Professional Info', professional_info_show_path(current_gnt_user), class:'btn rounded-0 col-12 dashboard_button' %>
      <% else %>
        <%= link_to image_tag('professional.svg')+' Professional Info', '', class:"btn rounded-0 text-decoration-none dashboard_button_disabled" %>
      <% end %>
    </li>

    <li class="nav-item mt-1 mb-1">
      <% if current_gnt_user.id == @user.id and current_gnt_user.grant_apply_request %>
        <%= link_to image_tag('english_exam.svg')+' English Proficiency', english_exam_show_path(current_gnt_user), class:'btn dashboard_button rounded-0 col-12' %>
      <% else %>
        <%= link_to image_tag('english_exam.svg')+' English Proficiency', '', class:"btn text-decoration-none dashboard_button_disabled" %>
      <% end %>
    </li>

    <li class="nav-item mt-1 mb-1">
      <% if current_gnt_user.id == @user.id and current_gnt_user.grant_apply_request %>
        <%= link_to image_tag('nclex.svg')+' NCLEX', nclex_show_path(current_gnt_user), class:'btn dashboard_button rounded-0 col-12' %>
      <% else %>
        <%= link_to image_tag('nclex.svg')+' NCLEX', '', class:"btn text-decoration-none dashboard_button_disabled" %>
      <% end %>
    </li>

    <li class="nav-item mt-1 mb-1">
      <% if current_gnt_user.id == @user.id and current_gnt_user.grant_apply_request %>
        <%= link_to image_tag('jobs.svg')+' Employer Interview', jobs_show_path(current_gnt_user), class:'btn dashboard_button rounded-0 col-12' %>
      <% else %>
        <%= link_to image_tag('jobs.svg')+' Employer Interview', '', class:"btn text-decoration-none dashboard_button_disabled" %>
      <% end %>
    </li>

    <li class="nav-item mt-1 mb-1">
      <% if current_gnt_user.id == @user.id and current_gnt_user.grant_apply_request %>
        <%= link_to image_tag('licensing.svg')+' Licensing', licensing_show_path(current_gnt_user), class:'btn dashboard_button rounded-0 col-12' %>
      <% else %>
        <%= link_to image_tag('licensing.svg')+' Licensing', '', class:"btn text-decoration-none dashboard_button_disabled" %>
      <% end %>
    </li>

    <li class="nav-item mt-1 mb-1">
      <% if current_gnt_user.id == @user.id and current_gnt_user.grant_apply_request %>
        <%= link_to image_tag('immigration.svg')+' Immigration', immigration_show_path(current_gnt_user), class:'btn dashboard_button rounded-0 col-12' %>
      <% else %>
        <%= link_to image_tag('immigration.svg')+' Immigration', '', class:"btn text-decoration-none dashboard_button_disabled" %>
      <% end %>
    </li>

    <li class="nav-item mt-1 mb-1">
      <% if current_gnt_user.id == @user.id and current_gnt_user.grant_apply_request %>
        <%= link_to image_tag('screening.svg')+' Screening', screening_show_path(current_gnt_user), class:'btn dashboard_button rounded-0 col-12' %>
      <% else %>
        <%= link_to image_tag('screening.svg')+' Screening', '', class:"btn text-decoration-none dashboard_button_disabled" %>
      <% end %>
    </li>

    <li class="nav-item mt-1 mb-1">
      <% if current_gnt_user.id == @user.id and current_gnt_user.grant_apply_request %>
        <%= link_to image_tag('onboarding.svg')+' Onboarding', onboarding_path(current_gnt_user), class:'btn dashboard_button rounded-0 col-12' %>
      <% else %>
        <%= link_to image_tag('onboarding.svg')+' Onboarding', '', class:"btn text-decoration-none dashboard_button_disabled" %>
      <% end %>
    </li>
  </ul>
</div>