<div>
  <div class="card" style='margin: 10px'>
    <%= image_tag('gnt_logo.png', style:'width:150px; height:150px') %>
    <div class="card-body">
      <h5 class="card-title">GNT</h5>
      <p class="card-text">Global Nursing Talent,inc is an international recruitment and placement for healthcare staffing.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div style='display: flex; height: 25%;'>
    <div class="card" style='width: 25%; margin: 10px'>
      <%= image_tag('gnt_logo.png', style:'width:150px; height:150px') %>
      <div class="card-body">
        <h5 class="card-title">Andrea Karstetter</h5>
        <p class="card-text">Ummm</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 25%; margin: 10px">
      <%= image_tag('gnt_logo.png', style:'width:150px; height:150px') %>
      <div class="card-body">
        <h5 class="card-title">Jessica Graves</h5>
        <p class="card-text">Yeahhh</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card" style="width: 25%; margin: 10px">
      <%= image_tag('gnt_logo.png', style:'width:150px; height:150px') %>
      <div class="card-body">
        <h5 class="card-title">Timothy Karstetter</h5>
        <p class="card-text">Ohhh</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    
    <div class="card" style="width: 25%; margin: 10px">
      <%= image_tag('gnt_logo.png', style:'width:150px; height:150px') %>
      <div class="card-body">
        <h5 class="card-title">Seaqueue Cheng</h5>
        <p class="card-text">Coool</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  <div>
</div>
