<H1>Statistics of Nurses:</H1>
<% user = GntUser.where(:role =>'candidate')%>
There are <em style="font-size:25px"><%= user.count %> candidates</em> in the database.

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Requested to apply</th>
      <th scope="col">Grant Application Access</th>
    </tr>
  </thead>
  <% GntUser.all.each do |user| %>
    <% if not user.admin? %>
      <tbody>
        <tr>
          <td><%= link_to user.full_name, user %></td>
          <td><%= user.request_to_apply %></td>
          <td><%= user.grant_apply_request %></td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>


<h1>Candidates Search and Filters:</h1>

<%= form_with url: "/statistics", method: :get do |f| %>
  <%= f.label :search_name, "Type Name Here:" %>
  <%= f.text_field :search_name %>
  <%= f.submit "Search", class:"btn btn-primary" %>
<% end %>

<br>

<form action="/statistics" method="GET">
  <label>Filter Options: </label>
  <select name="nationality_filter">
    <option value="">Nationality</option>
    <option value="MX">Mexico</option>
    <option value="CA">Canada</option>
    <option value="SP">Singapore</option>
    <option value="CL">Chile</option>
    <option value="PH">Philippine</option>
  </select>
  <select name="experience_years_filter">
    <option value="">Years of experience</option>
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3+</option>
  </select>
  <select name="english_proficiency_filter">
    <option value="">English proficiency</option>
    <option value="passed">passed</option>
    <option value="exam scheduled">exam scheduled</option>
    <option value="traning in progress">traning in progress</option>
  </select>
  <select name="nclex_filter">
    <option value="">NCLEX exam</option>
    <option value="passed">passed</option>
    <option value="exam scheduled">exam scheduled</option>
    <option value="traning in progress">traning in progress</option>
  </select>
  <select name="languages_spoken_filter">
    <option value="">Languages Spoken</option>
    <option value="English">English</option>
    <option value="Spanish">Spanish</option>
    <option value="Portuguese">Portuguese</option>
    <option value="Tagalog">Tagalog</option>
  </select>
  <input name="commit" type="submit" value="Apply Filters" class="btn btn-primary"/>
</form>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Full Name</th>
      <th scope="col">Nationality</th>
      <th scope="col">Years of experience</th>
      <th scope="col">I am a</th>
    </tr>
  </thead>
  <% @users.each do |user| %>
    <% if not user.admin? %>
      <tbody>
        <tr>
          <td><%= link_to user.full_name, user %></td>
          <td><%= user.nationality %></td>
          <td><%= user.years_of_experience %></td>
          <td><%= user.i_am %></td>
        </tr>
      </tbody>
    <% end %>
  <% end %>
</table>


